<td>
  <%= form_for [repo[:record], RepositoryTag.new], remote: true do |f| %>
    <%= text_field_tag :name, repo[:recommendation], class: "tag-input tag-input-gray" %>
    <%= submit_tag "+", class: "tag-submit" %>
  <% end %>
</td>
