<div id="table-container">
  <header id="main-label">
    <%= render "search" %>
    <%= render "message", repos: @repos, search_tag: @search_tag %>
  </header>
  <%= render "table", repos: @repos %>
</div>
