#table-container {
  flex-grow: 1;
  align-self: flex-start;
}
#main-label {
  text-align: center;
  margin-bottom: 15px;
}
table {
  margin: 0 20px;
  text-align: left;
  border-collapse: collapse;
  border: 2px solid black;
}
th, td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  height: 34px;
}
th {
  background-color: #DDD;
}
tr:nth-child(odd) {
  background-color: #EEE;
}
.description {
  width: 100%;
}
.tags{
  min-width: 200px;
  max-width: 200px;
}
.new_repository_tag {
  display: flex;
}
.tag_input {
  width: 90px;
}
td>div {
  display: inline-block;
  background-color: #F8F8F8;
  height: 24px;
  border-radius: 12px;
  padding: 7px 7px 0 7px;
  a {
    font-weight: bolder;
    color: red;
    text-decoration: none;
  }
}
