<div id="main-form">
  <form action="">
    <label>https://github.com/
      <input type="text" placeholder="username" name="username">
    </label>
    <input type="submit" value="get repositories">
  </form>
</div>
