<div id="main-form">
  <form action="repositories">
    <label>https://github.com/
      <input type="text" placeholder="username" name="username">
    </label>
    <br>
    <input id="submit" type="submit" value="get repositories">
  </form>
</div>
