<div id="main-form">
  <%= form_tag "/repositories", method: "get" do %>
    <%= label_tag "username", "https://github.com/" %>
    <%= text_field_tag "username", nil, placeholder: "username" %>
    <%= submit_tag "get repositories", id: "submit" %>
  <% end %>
</div>
